/*
Style Sheet
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

#hgroup {
float: left; 
margin: 0;
padding: 0;
}

#para-entrar {
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	}
	
#aba-viagem {
	background:url(imagens/bg_menu-viagem.jpg) no-repeat center top#9d070d;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
	min-height: 190px;
}
	
#aba-exposicao {
	background:url(imagens/bg_menu-exposicao.jpg) no-repeat center top#9d070d;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
	min-height: 190px;
}

#aba-filme {
	background:url(imagens/bg_menu-filme.jpg) no-repeat center top#9d070d;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
	height: 410px;
}

#aba-livro{
	background:url(imagens/bg_menu-livro.jpg) no-repeat center top#9d070d;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
	min-height: 190px;
}

#aba-rodas {
	background:url(imagens/bg_menu-rodas.jpg) no-repeat center top#9d070d;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
	min-height: 190px;
}


#galerias {
width: 100%;
min-height: 150px;

}

#vimeo {
width: 90%;
min-height: 150px;
margin-left: 50px;
margin-bottom: -7px;
}


.orbit-default {
    margin-top: 0 !important;
}

.orbit-wrapper  {
margin: 0 auto !important;
}

#header-galeria {
    height: 363px;
    margin: 0;
    width: 562px;
	float: left;
}

#escorrega {
	background: url(imagens/header-fotos-jquery.jpg) no-repeat left top;
    height: 363px;
}

#logos {

   background: url("imagens/logos-footer.png") no-repeat scroll left top transparent;
    height: 222px;
    margin: 0 auto;
    position: relative;
    top: 85px;
    width: 837px;
}
/*
#access li.menu-item-780 a{
    padding: 0.35em 1.2em;
}
*/
#access li.menu-item-778 a{
    padding: 0.35em 1.2em;
}


/* Singular */

.singular #content-semfundo,
.left-sidebar.singular #content-semfundo {
	margin: 4% 0 8%;
	position: relative;
	width: auto;
	padding: 0 8%;
}
